
  <table class="table table-sm element-attributes elementValues">
  <tbody>
    <% layout.controls.each do |control| %>
      <% if control.controlType != "LABEL" %>
        <tr>
            <% if !control.isEditable %>
              <% readonlyClass = "readonly" %>
              <% pointerClass = "" %>
            <% else %>
              <% readonlyClass = "" %>
              <% pointerClass = "pointerCursor" %>
            <% end %>

          <td class="<%= readonlyClass %>">
            <%= control.displayname %>
          </td>

          <td class="element-value <%= readonlyClass %>" id="<%= control.attributeName%>"
            data-attribute-type="<%= control.controlType.downcase %>"
            data-attribute="<%= control.attributeName %>"
            data-element-key="<%= element.key %>"
            data-data-dictionary-id="<%= control.dataDictionaryID %>"
            data-is-writable="<%= control.isEditable %>">

            <div class="attribute-field <%= pointerClass %> clearfix">
              <%= editorValueParser(element.keyValueList[control.attributeName]) %>
              <% if control.isEditable %>
                <i class="far fa-edit edit-icon" style="opacity:0" data-toggle="tooltip" data-placement="top" title="Bearbeiten"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>
