<% content_for :title do %>
  Neue Notiz anlegen
<% end %>
<% content_for :subtext do %>
  Geben Sie die Art der Notiz, eine Überschrift und den Text an
<% end %>

<% content_for :acceptButton do %>
  Notiz anlegen
<% end %>

<%= form_tag '/engine/new_note', id: "create_note_form" do %>
  <%= hidden_field_tag(:element_key, @element_key) %>
  <div class="form-group">
    <%= label_tag(:note_type, "Art der Notiz") %>
    <%= collection_select(:note_type, :note_type_id, @note_types, :id, :displaytext,
    {}, {class:'form-control'}) %>
  </div>
  <div class="form-group">
    <%= label_tag(:subject, "Überschrift") %>
    <%= text_field_tag(:subject, "", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:body, "Notiz") %>
    <%= text_area_tag(:body, "", size: "70x6", class: "form-control") %>
  </div>
  <div class="hidden submit_button">
    <%= submit_tag("Anlegen", class:"btn btn-primary") %>
  </div>

<% end %>
