<% meta_tag :page_title, "Nachrichten: #{@element.displayname}" %>

<% @mails.each do |mail| %>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <small>Von: <%= mail['Sender'] %>, An: <%= mail['Recipient'] %></small>
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1"><%= mail['Subject'] %></h6>
        <small><%= parse_value(mail['TransportDate']) %></small>
      </div>
      <p class="mb-1"><%= mail['Description'] %></p>
    </a>
  </div>


<% end %>
