
<div class="row">
  <div class="col-lg-3">

    <div class="list-group group-by-classes">
      <%= link_to(search_element_path({q: params[:q]}), html_options={class:"list-group-item list-group-item-action list-group-item-secondary d-flex justify-content-between align-items-center"}) do %>
        Alle
      <% end %>

      <% if !@searchResponseHeader.groupBy.blank? %>
        <% @searchResponseHeader.groupBy.values.each do |k,v| %>
          <%= link_to(search_element_path({q: params[:q],classes: k}), html_options={class:"list-group-item list-group-item-action d-flex justify-content-between align-items-center"}) do %>
            <%= displayNameForClass(k) %>
            <span class="badge badge-secondary badge-pill"><%= v %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
  <div class="col-lg-9">
    <%= render 'keytech/links' %>
  </div>
</div>
