<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div>
  <% if user_signed_in? %>
    <span class="small"> <%= current_user.keytech_url %> </span> <br>
  <% end %>
  <a class="navbar-brand" href="#">keytech Web</a>

</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <% if (!user_signed_in?) %>
        <li class="nav-item"><%= link_to 'Sign in', new_user_session_path, class: "nav-link" %></li>
        <span class="my-2">or</span>
        <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path,class: "nav-link" %></li>
      <% end %>
    </ul>
    <% if (user_signed_in?) %>
      <%= form_tag("/search", method: "get", class:"form-inline my-2 my-lg-0") do %>
        <%= text_field_tag(:q, params[:q], class: "form-control mr-sm-2") %>
        <%= submit_tag("Suche", class: "btn btn-outline-success my-2 my-sm-0", name:nil) %>
      <% end %>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% end %>

  </div>
</nav>
