<div class="row">
  <div class="col-md-3">
    <%= render 'devise/shared/profile_options' %>
  </div>
  <div class="col-md-6">

    <h2>Klassenliste</h2>
    <ul class="list-group">
      <% @classlist.each do |class_item| %>
        <% if class_item.isActive %>
         <li class="list-group-item">
          <%= class_item.displayname %> (<%= class_item.classKey %>)
          <div>
             Nummergenerator: <%= class_item.hasNumberGenerator %>
          </div>
          <ul>
            <% class_item.attributesList.each do |attributes| %>
              <li>
                <%= attributes['DisplayName'] %>
                <%= attributes['NativeName'] %> (<%= attributes['AttributeType'] %>)
              </li>
            <% end %>
            </ul>
          </li>
          <% end %>
      <% end %>
      </ul>
  </div>
</div>
