
<% if @dashboard_elements.size > 0 %>
  Letzte Änderungen:
  <div class="list-group">
    <% @dashboard_elements.each do |element| %>
    <a href='<%= "/element/" + element.key %>' class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= element.displayname %> <small>(<%= element.classDisplayName %>)</small></h5>
      </div>
      <p class="mb-1">
        <% if element.createdBy == element.changedBy %>
          Sie haben dieses Element am <%= parse_value(element.createdAt) %> angelegt
        <% elsif element.changedBy != @keytech_username %>
          <%= element.changedByLong %> hat ihr Element am <%= parse_value(element.changedAt) %> bearbeitet
        <% else %>
          Sie haben das Element von <%= element.createdByLong %> am <%= parse_value(element.changedAt) %> bearbeitet
        <% end %>
      </p>

    </a>
    <% end %>
  </div>
<% else %>
  <p>
    Erstelle <span id="add_element"> neue Elemente </span> oder ändere bestehende. Die letzten Änderungen werden dir hier angezeigt.
  </p>
<% end %>
