<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="language" content="de">
    <title><%= yield_meta_tag(:page_title, page_title) %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/messages' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>

</html>
