<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="language" content="de">
    <title><%= yield_meta_tag(:page_title, page_title) %></title>

    <meta name="keywords" content="PLM, PDM, keytech web api, plmweb, plm im browser, keytech im browser">
    <meta name="description" content="Mit PLM Web haben Sie Ihre keytech Daten in ihrem eigenen Browser - egal mit welchem Betriebssyytem Sie arbeiten.">

    <%= csrf_meta_tags %>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/messages' %>

  <div class="container">
    <%= render 'shared/check_keytech_connection' %>
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>

</html>
